body{
	margin:auto;
	padding:0;
	font-family: monospace;
	background-color: black;
}

p{
	margin: auto;
	font-size: 32pt;
	text-align: justify;
	font-weight: lighter;
	color: white;
	width: 60%;
}

span {
	color: gold;
}

h3 {
	color: white;
	margin: auto;
	font-size: 32pt;
	font-weight: bolder;
	text-align: justify;
	width: 60%;
}

  