@import url('//fonts.googleapis.com/css?family=Playfair+Display');
@import url('//fonts.googleapis.com/css?family=Lato');

body {
    height: 100vh;
    margin: 0;
    font-family: monospace;
    display: flex;
    background-color: black;
    color: rgb(250, 253, 38);
}

svg {
    margin: auto;
    width: 50%;
    min-width: 320px;
    max-height: 100%;
}

svg circle {
    fill: rgb(248, 230, 125);
    mix-blend-mode: multiply;
}

.shape {
    height: 100%;
    width: 50px;
    shape-margin: 2.6px;
}

.shape-left {
    float: left;
    shape-outside: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/circle-left.svg);
}

.shape-right {
    float: right;
    shape-outside: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/circle-right.svg);
}

.text {
    font-size: 3.5px;
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 1.6;
    color: white;
    font-family: 'monospace';
    hyphens: auto;
    text-shadow: 0 .2px .3px rgba(0,0,0,.3);
}

p { 
    margin: 0; 
    text-align: justify;
    text-align-last: center;
    font-size: 3.05px;
    font-family: monospace;
    font-weight: lighter;
    color: yellow;
}


