body{
	margin: auto;
	padding:0;
	background-color: black;
	width: 50%;
}

div {
	width: 900px;
	padding: 0px;
	border: transparent;
	margin: 20px;
	text-align: justify;
	font-size: 32pt;
	font-family: monospace;
	color: yellow;
	font-variant: small-caps;
  }