body{
	margin:auto;
    padding:0;
    font-family: monospace;
    background-color: black;
    color: white;
    width: 50%;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

p {
    font-size: 32pt; 
    font-family: monospace;
    color: white;
    text-align: justify;
}