body{
	margin:0;
	padding:0;
	font-family: monospace;
}
p{
	margin:50px;
	font-size:20px;
}
p :nth-child(1){
	font-size:52pt;
}

p :nth-child(3){
	font-size: 42pt;
}

p :nth-child(5){
	font-size: 32pt;
}

p :nth-child(7){
	font-size: 22pt;
}

p :nth-child(9){
	font-size: 12pt;
}

h3 {
	font-size: 12pt;
	margin: 50px;
}
